* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

@media all and (max-width: 767px) {
  .first-header {
    color: white;
    background-color: rgb(62, 62, 62);
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
